@import url(./__container/popup__container.css);
@import url(./__form/popup__form.css);
@import url(./__form-title/popup__form-title.css);
@import url(./__button-close-form/popup__button-close-form.css);
@import url(./__form-input/popup__form-input.css);
@import url(./__button-save-form/popup__button-save-form.css);
@import url(./__img/popup__img.css);
@import url(./__img-name/popup__img-name.css);
@import url(./__form-input/_type/popup__form-input_type_invalid.css);
@import url(./__form-input-error/popup__form-input-error.css);
@import url(./__form-input-error/_active/popup__form-input-error_active.css);
@import url(./__button-save-form/_inactive/popup__button-save-form_inactive.css);

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  visibility: hidden;
  transition: .3s linear;
}

