@import url(./__button-add/profile__button-add.css);
@import url(./__block/profile__block.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__info-row/profile__info-row.css);
@import url(./__button-edit/profile__button-edit.css);
@import url(./__title/profile__title.css);
@import url(./__subtitle/profile__subtitle.css);


.profile {
  max-width: 882px;
  margin: 0 auto;
  padding: 40px 0 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

@media screen and (max-width: 919px) {
  .profile {
    max-width: 582px;
    flex-direction: column;
    padding: 40px 0 36px;

  }
}
/*
@media screen and (max-width: 619px) {
  .profile {
    /*max-width: 619px;
  }
}
*/
