.elements__button-like {
  border: none;
  margin: 0 auto;
  padding: 0;
  width: 20px;
  height: 18px;
  background-image: url(../../../images/heart.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 18px;
  background-color: transparent;

}


.elements__button-like:hover {
  cursor: pointer;
  opacity: .6;
}
