.popup__button-close-form {
  width: 40.7px;
  height: 40.7px;
  background-color: black;
  background-image: url(../../../images/button_plus.png);
  background-position: center;
  background-size: cover;
  border: 0;
  position: absolute;
  top: -38px;
  right: -38px;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transform: rotate(45deg);

}

.popup__button-close-form:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 619px) {
  .popup__button-close-form {
    width: 28px;
    height: 28px;
    top: -26px;
    right: -26px;
  }
}

@media screen and (max-width: 512px) {
  .popup__button-close-form {
    width: 18px;
    height: 18px;
    top: -16px;
    right: -16px;

  }
}
