.profile__edit-avatar {
  border: none;
  margin: 0;
  padding: 0;
  width: 26px;
  height: 26px;
  background-image: url(../../../images/pen.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-color: transparent;
  position: absolute;
  top: 47px;
  left: 47px;

}

.profile__edit-avatar:hover {
  cursor: pointer;
}
