@import url(./__gallery/elements__gallery.css);
@import url(./__card/elements__card.css);
@import url(./__card-img/elements__card-img.css);
@import url(./__card-footer/elements__card-footer.css);
@import url(./__card-title/elements__card-title.css);
@import url(./__button-like/elements__button-like.css);
@import url(./__button-del/elements__button-del.css);
@import url(./__button-like/_checked/elements__button-like_checked.css);
@import url(./__card-count-like/elements__card-count-like.css);
@import url(./__card-likeblock/elements__card-likeblock.css);
@import url(./__button-del/_none/elements__button-del_none.css);

.elements {
  width: 100%;
  max-width: 882px;
  padding: 0 0 6px 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
