@import url(./_type/popup__container_type_form.css);
@import url(./_type/popup__container_type_img.css);

.popup__container {
  margin: 0 auto;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}


