.popup__button_disabled {
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #000000;
  color: #000000;
  opacity: .2;
  box-sizing: border-box;
}

.popup__button_disabled:hover {
  cursor: not-allowed;
  background-color: #ffffff;
}
