@import url(./__logo/header__logo.css);

.header {
  max-width: 882px;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 919px) {
  .header {
    max-width: 582px;
  }
}

@media screen and (max-width: 619px) {
  .header {
    max-width: 619px;
  }
}
